.Search_page{
    margin: 0px 0px;

    .articles{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .Article{
            width: 32%;
            display: flex;
            flex-direction: column;
            align-items: center;            
            margin: 5px 0;
        }
    }
}


@media screen and (max-width: 1300px) {
    .Search_page{
        
        .articles{

            .Article{
                width: 49%;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .Search_page{
        
        .articles{

            .Article{
                width: 100%;
            }
        }
    }
}