.Article{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .article_image{
        img{
            border-radius: 5px;
        }
    }

    .article_time{
        color: gray;
    }
}